<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/add_tweet">
        <div>
            <label>Text</label>
            <div class="input-group">
                <input type="text"  name="text" maxlength="280">
            </div>
        </div>

        <div>
            <label>Title</label>
            <div class="input-group">
                <input type="title"  name="title">
            </div>
        </div> 

        <div>
            <input type="submit"/>
        </div>
    </form>
</body>
<a href="tweets.html"></a>
</html>